@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6c5dd3;
  --darkpurple: #11142d;
  --white: #ffffff;
  --gray-01: #aaaaaa;
  --gray-02: #e1e1e1;
  --gray-03: #f0f0f0;
  --primary-soft: #f0eeff;
  --orange: #ff754c;

  --font-heading: 700 40px "Cairo", sans-serif;
  --font-base: 400 18px "Open Sans", sans-serif;
  --font-filterOptions: 700 18px "Open Sans", sans-serif;
  --font-filterTitle: 700 24px "Cairo", sans-serif;
  --card--title: 700 20px "Cairo", sans-serif;
  --button: 700 18px "Cairo", sans-serif;
}
/* .listLayout[id="lista"]:checked {
  @apply bg-[#000];
}
.gridLayout[id="grid"]:checked {
  @apply bg-[red];
} */

/* .custom-file-input::-webkit-file-upload-button {
  @apply invisible;
}

.custom-file-input::before {
  @apply content-['drag_and_Drop'] inline-block n p-3 cursor-pointer whitespace-nowrap text-base rounded-lg  text-white w-[300px] h-[300px];
}
.custom-file-input {
  @apply text-transparent focus:bg-blue-600;
} */

/* .custom-file-input::before {
  content: "Select some files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
} */
/* 
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */
